*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #88d4ab;
    font-family: 'Poppins', sans-serif;
}
:root{
    --one-palet-color:#036666;
    --two-palet-color:white;
    --three-palet-color: #99e2b4;
    --four-palet-color:#469d89;
}
.container-father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-chats{
    display: flex;
    flex-direction: column;
    background-color: var(--one-palet-color);
    height:90vh;
    width: 350px;
    padding: 10px;
    margin-top: 10px;
}
.text-input{
    width: 100%;
    height: 33px;
}
.container-messages{
    height: 80vh;
    width: 100%;
    background-color:var(--three-palet-color);
    overflow-y: scroll;
}
.text-you{
    display: flex;
    flex-direction: column;
    background-color:var(--two-palet-color);
    border-radius:0px 20px 20px 20px;
    padding-left: 10px;
    padding: 6px;
    margin: 6px; 
}
.text-you div {
    display: flex;
    justify-content: space-between;
}
.text-you span{
    color: black;
    font-size: small;
}
.text-me{
    display: flex;
    justify-content: space-between;
    background-color:var(--four-palet-color);
    border-radius:20px 0px 35px 20px;
    padding-left: 10px;
    padding: 6px;
    margin: 4px; 
}
.text-me span{
    color: black;
    font-size: small;
}
.chats-children{
    display: flex;
    align-items: center;
}
.header-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#248277;
    padding: 5px;
    width: 1fr;
    height: 60px;
}
.text-user{
    color: white;
    font-weight: 800;
    font-size: xx-large;
}

@media (max-width:768px){
    .container-chats{
        height: 100vh;
        width: 90vw;
        margin: 5px;
        padding: 10px;
    }
    .text-input{
        width: 100%;
        height: 33px;
    }
    .container-messages{
        height: 100%;
        width: 100%;
    }
}