*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #92e6a7;
    font-family: 'Poppins', sans-serif;
}
:root{
    --one-palet-color:#1a7431;
    --two-palet-color:#b7efc5;
    --three-palet-color: #6ede8a;
    --four-palet-color:#2dc653;
}
.container-father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-chats{
    display: flex;
    flex-direction: column;
    background-color: var(--one-palet-color);
    height:90vh;
    width: 350px;
    padding: 10px;
    margin-top: 10px;
}
.text-input{
    width: 100%;
    height: 33px;
}
.container-messages{
    height: 80vh;
    width: 100%;
    background-color: var(--two-palet-color);
    overflow-y: scroll;
}
.text{
    display: flex;
    justify-content: space-between;
    background-color:var(--three-palet-color);
    border-radius:0px 10px 10px 25px;
    padding-left: 10px;
    padding: 6px;
    margin: 6px; 
}
.text span{
    color: black;
    font-size: small;
}
.chats-children{
    display: flex;
    align-items: center;
}
.header-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--four-palet-color);
    padding: 5px;
    width: 1fr;
    height: 60px;
}
.text-user{
    color: white;
    font-weight: 800;
    font-size: xx-large;
}

@media (max-width:768px){
    .container-chats{
        background-color:var(--one-palet-color);
        height: 100vh;
        width: 90vw;
        margin: 5px;
        padding: 10px;
    }
    .text-input{
        width: 100%;
        height: 33px;
    }
    .container-messages{
        height: 100%;
        width: 100%;
    }
}